<div class="row-fluid" id="plastique-documentation">
  <div class="span3">
    <%= partial "pages/docs/docs_menu" %>
  </div>
  <div class="span9">
    <div class="box">
      <div class="tab-header light" id="docs-title"></div>
      <div class="padded" id="docs-content">
        <%= partial "pages/docs/primary_menu" %>
        <%= partial "pages/docs/breadcrumbs_search" %>
        <%= partial "pages/docs/boxes" %>
        <%= partial "pages/docs/radios_checkboxes" %>
        <%= partial "pages/docs/forms_textfields" %>
        <%= partial "pages/docs/select_tags" %>
        <%= partial "pages/docs/notifications" %>
        <%= partial "pages/docs/buttons_icons" %>
        <%= partial "pages/docs/modals" %>
        <%= partial "pages/docs/tables" %>
        <%= partial "pages/docs/other_ui" %>
        <%= partial "pages/docs/tabbable" %>
        <%= partial "pages/docs/nav_menu" %>
        <%= partial "pages/docs/recent_comments" %>
        <%= partial "pages/docs/faq_page" %>
        <%= partial "pages/docs/gallery" %>
        <%= partial "pages/docs/charts" %>
        <%= partial "pages/docs/login_page" %>
        <%= partial "pages/docs/error_page" %>
      </div>
    </div>
  </div>
</div>

